.DS_Store
core/node_modules/
core/vendor/
core/public/build/
core/public/hot/
core/public/storage/
core/storage/*.key
core/.env
core/.env.*
core/Homestead.json
core/Homestead.yaml
core/auth.json
core/npm-debug.log
core/yarn-error.log
core/.fleet/
core/.idea/
core/.vscode/
core/database/database.sqlite
core/temp/
